
<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm())
{
    <label for="Contacts">Contacts</label>
    @Html.DropDownList("Contacts", new MultiSelectList(@ViewData["ContactNames"] as System.Collections.IEnumerable, "PhoneNumber", "Name"), "Choose", new {id = "drop-down-list", multiple ="multiple"})
    <label for="From">From</label>
    @Html.TextBox("From")
    <label for="Body">Body</label>
    @Html.TextBox("Body")
    <input type="submit" value="Send!" />
}

@Html.ActionLink("Back home", "Index")